* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
}
.loader{
    position: relative;
    width: 500px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50px ;
}
/* حجم مستطيل التحميل */
.loader__item{
    position: absolute;
    width: 100%;
    height: 40px;
    border-radius: 50px;
}
/* يكون مستطيل التحميل شفاف */
.loader__item--glowing{
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid rgb(178, 177, 177);
    z-index: 2;
}
/* تنسيق الوان وحركة التحميل */
.loader__item--neon{
    background: linear-gradient(90deg, #ff01eb ,#00eaff);
    filter: blur(12px);
    width: 120%;
    transform: translateX(-100%);
    animation: loader 4s linear infinite alternate;
}
@keyframes loader{
    100%{
        transform: translateX(0%);
    }
}
